header {
	position: sticky;
	display: flex;
	flex-direction: row;
	top: 0;
	margin: 0;
	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	backdrop-filter: blur(10px);
}

.logo {
	height: 50px;
	width: 40px;
	margin: 10px;
}

header>img {
	width: 250px;
	margin: 10px;
	margin-right: 60%;
}

header>button {
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
	display: flex;

	justify-content: center;
	align-items: center;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 20px;

	height: 40px;
	min-width: 100px;

	background-color: dodgerblue;
	color: white;
	border: 0;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
}

header>button>a {
	margin-right: 0;
	text-decoration: none;
	color: white;
}

header>button:hover {
	transition: all 0.5s ease;
	background-color: midnightblue;
}