header {
	flex-wrap: wrap;
	position: sticky;
	display: flex;
	flex-direction: row;
	top: 0;
	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	backdrop-filter: blur(10px);
	z-index: 1; /*Per far mettere l'header in primo piano su tutti gli elementi*/
}

.logo {
	height: 50px;
	width: 40px;
	margin: 10px;
}

header>h1 {
	margin-top: auto;
	margin-bottom: auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 300%;
	line-height: 0;
}

header>img {
	width: 250px;
	margin: 10px;
}

.header-btns {
	margin-left: auto;

	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	margin-right: 20px;
}

.header-btns>a {
	text-decoration: none;
	font-weight: bold;

	padding: 10px;
	display: flex;

	justify-content: center;
	align-items: center;

	height: 20px;
	width: 80px;

	background-color: dodgerblue;
	color: white;
	border: 0;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-btns>button {
	font-size: medium;
	text-decoration: none;
	font-weight: bold;

	padding: 10px;
	display: flex;

	justify-content: center;
	align-items: center;

	height: 40px;
	width: 100px;

	background-color: dodgerblue;
	color: white;
	border: 0;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
}

.header-btns>button>a {
	margin-right: 0;
	text-decoration: none;
	color: white;
}

.header-btns>button:hover {
	transition: all 0.5s ease;
	background-color: midnightblue;
}

.header-btns>a:hover {
	transition: all 0.5s ease;
	background-color: midnightblue;
}