body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
	overflow-x: hidden;
}

/* Nascondere scrollbar */
body::-webkit-scrollbar {
	display: none;
}

div {
	margin-left: 10px;
}

.titleimg {
	padding-top: 50px;
	margin: auto;
	width: 50%;
	display: flex;
	align-items: center;
}

.title>h1 {
	color: midnightblue;
	font-size: 100px;
	line-height: 5px;
}

.title>h3 {
	color: midnightblue;
	margin-left: 5px;
	font-size: 25px;
}

.titleimg>img {
	display: block;
	height: 600px;
	max-width: 550px;
}

.slogan {
	color: midnightblue;
	margin-top: 50px;
	font-size: 25px;
}

.indice {
	margin: auto;
	width: 20%;
	border: 1px solid lightgrey;
	border-radius: 10px;
}

.indice>h3 {
	padding-left: 20px;
}

.indice>ul>li>a {
	color: black;
	text-decoration: underline;
}

/* Media query per gestire la visualizzazione su schermi ridimensionati */
@media screen and (max-width: 768px) {
	.titleimg {
		flex-direction: column;
		align-items: center;
	}

	.title>h1 {
		font-size: 50px;
		text-align: center;
	}

	.title>h3 {
		font-size: 20px;
		margin-left: 0;
		text-align: center;
	}

	.titleimg>img {
		width: 100%;
		height: auto;
	}

	.scopri {
		flex-direction: column;
		align-items: center;
	}
}